* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

li {
  list-style-type: none; }

body {
  font-size: 16px; }

.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0; }

.span-line {
  width: 100%;
  height: 1rem;
  display: block;
  border-bottom: 0.05rem solid #1C2024;
  position: relative;
  top: -2rem; }

h2 {
  position: relative;
  z-index: 2;
  background-color: #F1EBDA;
  width: 300px;
  margin: 0 auto; }

.navbar_container {
  background-color: #1C2024;
  color: #F1EBDA; }
  @media (max-width: 768px) {
    .navbar_container {
      height: auto;
      min-height: 5vh; } }
  @media (min-width: 769px) {
    .navbar_container {
      height: 100vh;
      position: sticky;
      top: 0; } }
  .navbar_container a {
    text-decoration: none;
    color: #F1EBDA !important; }
  .navbar_container a:hover, .navbar_container a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #c7af6b !important; }

.navbar {
  width: 100%; }
  @media (min-width: 769px) {
    .navbar {
      height: 100vh;
      display: flex;
      flex-direction: column; } }

@media (min-width: 769px) {
  .navbar-brand {
    font-size: 3rem;
    width: 100%;
    display: block;
    text-align: center; } }
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 2rem; } }

@media (max-width: 768px) {
  .navbar-toggler {
    border-color: #F1EBDA; } }

@media (min-width: 769px) {
  .navbar-nav {
    font-size: 1.2rem;
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; } }
.navbar-nav i {
  font-size: 1.4rem;
  margin-right: 1rem; }

@media (min-width: 769px) {
  .nav-item {
    width: 100%;
    margin-top: 1rem; } }

.content_container {
  color: #1C2024;
  background-color: #F1EBDA; }
  @media (max-width: 768px) {
    .content_container {
      margin-left: 0; } }

.image_container, .image_container img, .carousel-inner {
  margin: 0;
  width: 100%;
  padding: 0; }
  @media (max-width: 768px) {
    .image_container, .image_container img, .carousel-inner {
      height: 95vh; } }
  @media (min-width: 769px) {
    .image_container, .image_container img, .carousel-inner {
      height: 100vh; } }

#section-menu, #section-gallery, #section-contact {
  width: 100%;
  margin-top: 5rem;
  text-align: center; }
  @media (max-width: 768px) {
    #section-menu, #section-gallery, #section-contact {
      margin-top: 10rem; } }

#menu-title, #gallery-title, #contact-title {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 5rem; }

#menu-items, #gallery-items {
  width: 100%; }

.menu-item img {
  width: 100%; }

.gallery-item {
  background-size: cover;
  height: 300px;
  background-position: center; }

.gallery-item:nth-child(1), .gallery-item:nth-child(3) {
  background: url(https://media2.s-nbcnews.com/j/newscms/2017_11/1201179/food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b.today-vid-hub-featured-desktop.jpg); }

.gallery-item:nth-child(2), .gallery-item:nth-child(4) {
  background: url(http://s.eatthis-cdn.com/media/images/ext/842849976/greasy-fast-food.jpg); }

.gallery-item span {
  display: none; }

.gallery-item:hover span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit; }

.gallery-item span p {
  color: #F1EBDA;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: .5rem solid white; }

.contact-contacts {
  margin-bottom: 5rem; }

.contact-item i, .contact-item.span {
  display: block; }

.contact-item i {
  font-size: 3rem;
  margin-bottom: 1rem; }

.contact-map iframe {
  width: 100%;
  height: auto;
  min-height: 400px; }

#footer-contacts {
  width: 100%;
  text-align: center;
  margin-top: 5rem; }

/*# sourceMappingURL=style.css.map */
