* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

li {
  list-style-type: none; }

body {
  font-size: 18px;
  overflow-x: hidden; }

.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0; }

.span-line {
  width: 100%;
  height: 1rem;
  display: block;
  border-bottom: 0.05rem solid #1C2024;
  position: relative;
  top: -2rem; }

h2 {
  position: relative;
  z-index: 2;
  background-color: #F1EBDA;
  width: 300px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    h2 {
      width: 100%;
      text-align: center; } }

.navbar_container {
  background-color: #1C2024;
  color: #F1EBDA; }
  @media (max-width: 991px) {
    .navbar_container {
      height: auto;
      min-height: 5vh; } }
  @media (min-width: 992px) {
    .navbar_container {
      height: 100vh;
      position: sticky;
      top: 0; } }
  .navbar_container a {
    text-decoration: none;
    color: #F1EBDA !important; }
  .navbar_container a:hover, .navbar_container a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #c7af6b !important; }

.navbar {
  width: 100%; }
  @media (min-width: 992px) {
    .navbar {
      height: 100vh;
      display: flex;
      flex-direction: column; } }

@media (min-width: 992px) {
  .navbar-brand {
    margin-top: 70px;
    font-size: 3vw;
    transform: scale(1, 2);
    width: 100%;
    display: block;
    text-align: center; } }
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 2rem; } }

.navbar-toggler {
  margin-right: 15px;
  margin-top: 8px; }
  @media (max-width: 991px) {
    .navbar-toggler {
      border-color: #F1EBDA; } }

.navbar-toggler-icon {
  background-image: url("../../images/hamburger.svg") !important; }

@media (min-width: 992px) {
  .navbar-nav {
    font-size: 1.2rem;
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center; } }
.navbar-nav i {
  font-size: 1.4rem;
  margin-right: 1rem; }

@media (min-width: 992px) {
  .nav-item {
    width: 100%;
    margin-top: 1rem; } }

.navbar-address {
  text-align: center; }
  @media (max-width: 991px) {
    .navbar-address {
      display: none; } }
  @media (min-width: 992px) {
    .navbar-address {
      display: flex;
      flex-direction: column;
      height: auto; } }

.navbar-address span {
  content: "";
  border-top: 0.05rem solid #F1EBDA;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.navbar-address li {
  margin-top: 1rem; }

.content_container {
  color: #1C2024;
  background-color: #F1EBDA; }
  @media (max-width: 991px) {
    .content_container {
      margin-left: 0; } }

.image_container, .image_container img, #main-banner {
  margin: 0;
  width: 100%;
  padding: 0; }
  @media (max-width: 991px) {
    .image_container, .image_container img, #main-banner {
      height: 95vh; } }
  @media (min-width: 992px) {
    .image_container, .image_container img, #main-banner {
      height: 100vh; } }

#main-banner {
  position: relative;
  background-image: url("../../images/MATCHA-TOP2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #1C2024;
  display: flex; }

#main-banner::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1C2024;
  opacity: 0.3; }

#main-banner h3 {
  width: auto;
  z-index: 2;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: bold;
  transform: scale(1, 2);
  text-transform: uppercase;
  margin: auto;
  font-size: 3rem;
  color: #F1EBDA; }
  @media (min-width: 992px) {
    #main-banner h3 {
      font-size: 5vw; } }

#section-menu, #section-gallery, #section-contact {
  width: 100%;
  margin-top: 5rem;
  text-align: center; }
  @media (max-width: 991px) {
    #section-menu, #section-gallery, #section-contact {
      margin-top: 10rem; } }

#menu-title, #gallery-title, #contact-title {
  width: 70%;
  margin: 8rem auto 4rem auto;
  padding-left: 2rem;
  padding-right: 2rem; }

#menu-items, #gallery-items {
  width: 90%;
  margin: 0 5%; }

.menu-item img {
  width: 100%;
  height: auto; }

.menu-item {
  margin-top: 30px; }

.gallery-item {
  background-size: cover;
  background-position: center;
  height: 300px; }

.gallery-item:nth-child(1) {
  background-image: url("../../images/matcha.jpg"); }

.gallery-item:nth-child(2) {
  background-image: url("../../images/soybean.jpg"); }

.gallery-item:nth-child(3) {
  background-image: url("../../images/chocolate.jpg"); }

.gallery-item:nth-child(4) {
  background-image: url("../../images/SET1.jpg"); }

.gallery-item span {
  display: none; }

.gallery-item:hover span {
  display: flex;
  background-color: rgba(28, 32, 36, 0.6);
  flex-direction: column;
  justify-content: center;
  height: inherit; }

.gallery-item span p {
  color: #F1EBDA;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: .5rem solid white; }

.contact-contacts {
  margin-bottom: 5rem; }

.contact-item i, .contact-item.span {
  display: block; }

.contact-item span {
  width: 100%; }
  @media (max-width: 991px) {
    .contact-item span {
      font-size: 3vw; } }

.contact-item i {
  font-size: 3rem;
  margin-bottom: 1rem; }

.contact-map iframe {
  width: 100%;
  height: auto; }
  @media (max-width: 991px) {
    .contact-map iframe {
      min-height: 300px; } }
  @media (min-width: 992px) {
    .contact-map iframe {
      min-height: 500px; } }

footer {
  height: 5rem;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  background-color: #E5E3D6; }

/*# sourceMappingURL=style.css.map */
