

// VARIABLES
//COLORS
$color_background:#F1EBDA;
$color_navbar:#1C2024;
$color_footer: #E5E3D6;
$color_font_page: $color_navbar;
$color_font_navbar: $color_background;
$color_font_navbar_light: darken($color_font_navbar,30%);
$color_background_light:lighten(#ecf0f1,30%);


//MEDIA QUERIES
$brk_xs_to_md:'(max-width:768px)';
$brk_md_up : '(min-width: 769px)';

//GENERAL RULES
* {
  margin: 0 ;
  padding: 0 ;
  font-family: 'Oswald', sans-serif;
}
li {
  list-style-type: none;
}
body { font-size: 18px;
overflow-x: hidden;
}
.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0;
}
 


 //STYLE THE HEADERS//
 .span-line{
   width: 100%;
   height: 1rem;
   display: block;
   border-bottom: .05rem solid $color_font_page;
   position: relative;
   top: -2rem;
 }
 h2 {
   position: relative;
   z-index: 2;
   background-color: $color_background;
   width: 300px;
   margin: 0 auto;

 }

 
//NAVBAR
.navbar_container {
  
  background-color: $color_navbar;
  color: $color_font_navbar;
  
  
  @media #{$brk_xs_to_md} {
    height:auto;
    min-height: 5vh
  }
  @media #{$brk_md_up} {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  a {
    text-decoration: none;
    color: $color_font_navbar !important;
  }
  a:hover,a:focus {
    cursor: pointer;
    text-decoration: none;
    color: $color_font_navbar_light !important;
  }
}
.navbar {
  width: 100%;
  @media #{$brk_md_up} {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.navbar-brand {
  @media #{$brk_md_up} {
    font-size: 3rem;
    width: 100%;
    display:block;
    text-align: center;
  }
  @media #{$brk_xs_to_md}{
    font-size: 2rem;
  } 
}

.navbar-toggler {
  @media #{$brk_xs_to_md} {
    border-color: $color_font_navbar;
  }
}

//style the navlinks
.navbar-nav {
  @media #{$brk_md_up} {
    font-size: 1.2rem;
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  }
  i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}
.nav-item {
  @media #{$brk_md_up} {
    width: 100%;
    margin-top: 1rem;
  }
}

//ADDITIONAL INFO ONLY ON BIGGE SCREEN
.navbar-address {
  text-align: center;
  @media #{$brk_xs_to_md} {
    display: none;
  }
  @media #{$brk_md_up} {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.navbar-address span {
  content: "";
  border-top: 0.05rem solid $color_font_navbar;
  display: block;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.navbar-address li {
  margin-top: 1rem;
}



//MAIN PAGE
.content_container  {
  color: $color_font_page;
  background-color: $color_background;
  @media #{$brk_xs_to_md} {
    margin-left: 0;
  }
  @media #{$brk_md_up} {
  }

  
}
    //MAIN CONTENT///
///////////////////////

//CAROUSEL
.image_container,.image_container img,.carousel-inner {
  margin: 0;
  width: 100%;
  padding: 0;
  @media #{$brk_xs_to_md} {
    height: 95vh;
  }
  @media #{$brk_md_up} {
    height: 100vh;
  }  
}

 
//MENU
///////
#section-menu,#section-gallery,#section-contact {
  width:100%; 
  margin-top: 5rem;
  text-align: center;
  
  @media #{$brk_xs_to_md} {
    margin-top: 10rem;
  }
} 
#menu-title,#gallery-title,#contact-title {
  width: 70%;
  margin: 8rem auto 4rem auto;
  padding-left:2rem;
  padding-right: 2rem;
}
#menu-items,#gallery-items {
  width: 90%;
  margin:0 5%;
}
.menu-item img {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
}






//GALLERYYY///

.gallery-item {
  background-size: cover;
  height:300px; 
  background-position: center;
}
.gallery-item:nth-child(1),.gallery-item:nth-child(3) {
  background: url(https://media2.s-nbcnews.com/j/newscms/2017_11/1201179/food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b.today-vid-hub-featured-desktop.jpg);
}
.gallery-item:nth-child(2),.gallery-item:nth-child(4) {
  background: url(http://s.eatthis-cdn.com/media/images/ext/842849976/greasy-fast-food.jpg)
}

//THE TEXT WILL BE DISPLAYED ONLY WHEN YOU OVER THE IMAGE

.gallery-item span {
  display: none;
}
.gallery-item:hover span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.gallery-item span p {
  color: $color_font_navbar;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: .5rem solid white;
}

//CONTACT US //
.contact-contacts {
  margin-bottom:5rem;
}
.contact-item i,.contact-item.span {
  display: block;
}
.contact-item i {
  font-size:3rem;
  margin-bottom: 1rem;
}


.contact-map iframe {
  width: 100%;
  height: auto;
  @media #{$brk_xs_to_md}{
    min-height: 300px;
  } 
  @media #{$brk_md_up} {
    min-height: 500px;
  }

}


///FOOTER
footer {
  height: 5rem;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  background-color: $color_footer;
}

