

// VARIABLES
//COLORS
$color_background:#F1EBDA;
$color_navbar:#1C2024;
$color_footer: #E5E3D6;
$color_font_page: $color_navbar;
$color_font_navbar: $color_background;
$color_font_navbar_light: darken($color_font_navbar,30%);
$color_background_light:lighten(#ecf0f1,30%);


//MEDIA QUERIES
$brk_xs_to_md:'(max-width: 768px)';
$brk_md_up : '(min-width: 769px)';

$brk_xs_to_lg: '(max-width :991px)';
$brk_lg_up: '(min-width: 992px)'; 
//GENERAL RULES
* {
  margin: 0 ;
  padding: 0 ;
  font-family: 'Oswald', sans-serif;
}
li {
  list-style-type: none;
}
body { font-size: 18px;
overflow-x: hidden;
}
.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0;
}
 


 //STYLE THE HEADERS//
 .span-line{
   width: 100%;
   height: 1rem;
   display: block;
   border-bottom: .05rem solid $color_font_page;
   position: relative;
   top: -2rem;
 }
 h2 {
   @media #{$brk_xs_to_md} {
    width: 100%;
    text-align: center;
   }
   position: relative;
   z-index: 2;
   background-color: $color_background;
   width: 300px;
   margin: 0 auto;

 }

 
//NAVBAR
.navbar_container {
  
  background-color: $color_navbar;
  color: $color_font_navbar;
  
  
  @media #{$brk_xs_to_lg} {
    height:auto;
    min-height: 5vh
  }
  @media #{$brk_lg_up} {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  a {
    text-decoration: none;
    color: $color_font_navbar !important;
  }
  a:hover,a:focus {
    cursor: pointer;
    text-decoration: none;
    color: $color_font_navbar_light !important;
  }
}
.navbar {
  width: 100%;
  // LARGE UP AND NOT MEDIUM
  @media #{$brk_lg_up} {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.navbar-brand {
  @media #{$brk_lg_up} {
    margin-top: 70px;
    font-size: 3vw;
    transform: scale(1,2);
    width: 100%;
    display:block;
    text-align: center;
  }
  @media #{$brk_xs_to_lg}{
    font-size: 2rem;
  } 
}

.navbar-toggler {
  margin-right: 15px;
  margin-top: 8px;
  @media #{$brk_xs_to_lg} {
    border-color: $color_font_navbar;
  }
}
.navbar-toggler-icon{
    background-image: url('../../images/hamburger.svg') !important;
}
//style the navlinks
.navbar-nav {
  @media #{$brk_lg_up} {
    font-size: 1.2rem;
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  }
  i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
}
.nav-item {
  @media #{$brk_lg_up} {
    width: 100%;
    margin-top: 1rem;
  }
}

//ADDITIONAL INFO ONLY ON BIGGE SCREEN
.navbar-address {
  text-align: center;
  @media #{$brk_xs_to_lg} {
    display: none;
  }
  @media #{$brk_lg_up} {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.navbar-address span {
  content: "";
  border-top: 0.05rem solid $color_font_navbar;
  display: block;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.navbar-address li {
  margin-top: 1rem;
}




//MAIN PAGE
.content_container  {
  color: $color_font_page;
  background-color: $color_background;
  @media #{$brk_xs_to_lg} {
    margin-left: 0;
  }
  
}
    //MAIN CONTENT///
///////////////////////

//BANNER
.image_container,.image_container img, #main-banner {
  margin: 0;
  width: 100%;
  padding: 0;
  @media #{$brk_xs_to_lg} {
    height: 95vh;
  }
  @media #{$brk_lg_up} {
    height: 100vh;
  }  
}
#main-banner {
  position: relative;
  background-image: url('../../images/MATCHA-TOP2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color:$color_navbar;
  display: flex;
}
#main-banner::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color_navbar;
  opacity: 0.3;
}
#main-banner h3{
  width: auto;
  z-index: 2;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: bold;
  transform: scale(1,2);
  text-transform: uppercase;
  margin: auto;
  font-size: 3rem;
  color: $color_font_navbar;
  @media #{$brk_lg_up} {
    font-size: 5vw;
  }
}
 
//MENU
///////
#section-menu,#section-gallery,#section-contact {
  width:100%; 
  margin-top: 5rem;
  text-align: center;
  
  @media #{$brk_xs_to_lg} {
    margin-top: 10rem;
  }
} 
#menu-title,#gallery-title,#contact-title {
  width: 70%;
  margin: 8rem auto 4rem auto;
  padding-left:2rem;
  padding-right: 2rem;
}
#menu-items,#gallery-items {
  width: 90%;
  margin:0 5%;
}
.menu-item img {
  width: 100%;
  height: auto;

}
.menu-item {
  margin-top: 30px;
}

//GALLERYYY///

.gallery-item {
  background-size: cover;
  background-position: center;
  height:300px; 
}
.gallery-item:nth-child(1){
  background-image: url('../../images/matcha.jpg');
}
.gallery-item:nth-child(2) {
  background-image: url('../../images/soybean.jpg');
}
.gallery-item:nth-child(3) {
 background-image: url('../../images/chocolate.jpg');
}
.gallery-item:nth-child(4) {
  background-image: url('../../images/SET1.jpg');
}

//THE TEXT WILL BE DISPLAYED ONLY WHEN YOU OVER THE IMAGE

.gallery-item span {
  display: none;
}
.gallery-item:hover span {
  display: flex;
  background-color: transparentize($color_navbar,0.4);
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.gallery-item span p {
  color: $color_font_navbar;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: .5rem solid white;
}

//CONTACT US //
.contact-contacts {
  margin-bottom:5rem;
}
.contact-item i,.contact-item.span {
  display: block;
}
.contact-item span {
  width: 100%;
  @media #{$brk_xs_to_lg} {
    font-size:3vw;    
  }
  
}
.contact-item i {
  font-size:3rem;
  margin-bottom: 1rem;
}


.contact-map iframe {
  width: 100%;
  height: auto;
  @media #{$brk_xs_to_lg}{
    min-height: 300px;
  } 
  @media #{$brk_lg_up} {
    min-height: 500px;
  }

}


///FOOTER
footer {
  height: 5rem;
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  background-color: $color_footer;
}

