

// VARIABLES
//COLORS
$color_background:#F1EBDA;
$color_navbar:#1C2024;
$color_font_page: $color_navbar;
$color_font_navbar: $color_background;
$color_font_navbar_light: darken($color_font_navbar,30%);
$color_background_light:lighten(#ecf0f1,30%);


//MEDIA QUERIES
$brk_xs_to_md:'(max-width:768px)';
$brk_md_up : '(min-width: 769px)';

//GENERAL RULES
* {
  margin: 0 ;
  padding: 0 ;
  font-family: 'Oswald', sans-serif !important;
}
li {
  list-style-type: none;
}
body { font-size: 16px;}
.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0;
}
//NAVBAR
.navbar_container {
  background-color: $color_navbar;
  color: $color_font_navbar;
  
  @media #{$brk_xs_to_md} {
    height:auto;
    min-height: 10vh;
  }
  @media #{$brk_md_up} {
    height: 100vh;
    position: fixed;
  }
  a {
    text-decoration: none;
    color: $color_font_navbar !important;
  }
  a:hover,a:focus {
    cursor: pointer;
    text-decoration: none;
    color: $color_font_navbar_light !important;
  }
}

#nav-branding {
  @media #{$brk_md_up} {
    width: 100%;
    font-size: 5rem;
    margin-top:2vh;
    text-align: center;
}
}
#nav_links{
  display: flex;
  flex-direction: column;
  text-align: center;
  @media #{$brk_md_up} {
     width: 100%;
     margin-top: 15vh;
     height: 15vh;
  }
  justify-content: space-between;
}

#nav_social {
  display: flex;
  flex-direction: row;
  text-align: center;
  @media #{$brk_md_up} {
     width: 100%;
     margin-top: 15vh;
     height: 15vh;
  }
  justify-content: center;
}



//MAIN PAGE
.content_container  {
  color: $color_font_page;
  background-color: $color_background;
  @media #{$brk_xs_to_md} {
    margin-left: 0;
    height: 500px;
  }
  @media #{$brk_md_up} {
    margin-left: 24%;
  }

  
}
    //MAIN CONTENT///
///////////////////////

//CAROUSEL
.image_container {
  margin: 0;
  padding: 0;
  @media #{$brk_xs_to_md} {
    height: 90vh;
  }
  @media #{$brk_md_up} {
    height: 100vh;
  }  
}
.image_container img,.carousel-inner {
    width: 100%;
    height: 100vh;
    }

 
//MENU
///////
#section-menu,#section-gallery,#section-contact {
  width:100%; 
  margin-top: 5rem;
  text-align: center;
  
  @media #{$brk_xs_to_md} {
    margin-top: 10rem;
  }
} 
#menu-title,#gallery-title,#contact-title {
  padding-left:2rem;
  padding-right: 2rem;
  margin-bottom: 5rem;
}
#menu-items,#gallery-items {
  width: 100%;
}
.menu-item img {
  width: 100%;
}






//GALLERYYY///

.gallery-item {
  background-size: cover;
  height:300px; 
  background-position: center;
}
.gallery-item:nth-child(1),.gallery-item:nth-child(3) {
  background: url(https://media2.s-nbcnews.com/j/newscms/2017_11/1201179/food-melissa-clark-citrus-salad-pizza-chicken-tease-today-170314-01_31f11db1405ecd9afa46cba02889b83b.today-vid-hub-featured-desktop.jpg);
}
.gallery-item:nth-child(2),.gallery-item:nth-child(4) {
  background: url(http://s.eatthis-cdn.com/media/images/ext/842849976/greasy-fast-food.jpg)
}

//THE TEXT WILL BE DISPLAYED ONLY WHEN YOU OVER THE IMAGE

.gallery-item span {
  display: none;
}
.gallery-item:hover span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}
.gallery-item span p {
  color: $color_font_navbar;
  display: inline;
  padding: 1rem;
  margin: 1rem;
  border: .5rem solid white;
}

//CONTACT US //
.contact-map iframe {
  width: 100%;
  height: auto;
  min-height: 400px;
}